.text-matchjob{
    color: #92fc69 !important;
}

.btn-matchjob{
    background-color: #92fc69 !important;
    color: white;
}

.btn-matchjob:hover{
    background-color: #7dd861 !important;
}

.badge-mj-v{
    background-color: #92fc69;
}
.badge-mj-a{
    background-color: #677ec9;
    color: white;
}

.text-mj-v{
    color: #92fc69;
    font-size: 8vh;
}

.text-mj-a{
    color: #677ec9;
    font-size: 8vh;
}
.btn-mj-v{
    background-color: #92fc69;

}

.bg-mj-a{
    background-color: #677ec9;
}

.bg-mj-v{
    background-color: #92fc69;
}

#header img{
    width: 50px;
}

#main .carousel-inner img{
    max-height: 50vh;
    object-fit: cover;
    filter: grayscale(70%);

}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    z-index: 1;
}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

#nosotros img{
    max-width: 100%;
}

#team i{
    color: #677ec9 ;

}

#escuelas img{
    width: 10vw;
    display:block;
    margin:auto;
}

#empresas img{
    width: 10vw;
    display:block;
    margin:auto;
}

#footer{
    
}

#footer a{
    color: white;
}

.top {
    margin-top: -80px;
    padding-top: 80px;
}

.card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}