.bg-mj-v {
  background-color: #92fc69 !important;
}

.bg-mj-a {
  background-color: #7c9afb !important;
}


.text-mjv{
    color:  #92fc69 !important;
}

.text-mja{
    color:  #7c9afb !important;
}

.btn-outline-mjv {
  color: #f8f9fa;
  border-color: #92fc69;
}

.btn-outline-mjv:hover {
  color: black;
  background-color: #92fc69 !important;
}

.btn-outline-mja {
  color: #7c9afb;
  border-color: #7c9afb;
}

.btn-outline-mja:hover {
  color: black;
  background-color: #7c9afb !important;
}

.loader-page {
  position: fixed;
  z-index: 25000;
  background: rgba(0,0,0, 0.4);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:all .3s ease;
}
