<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>MJ | Empresa</title>
  </head>
  {% include "loader_page.html" %}
  <body>
    <section class="bg-dark" style="height: 10vh;">
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark border-bottom border-light position-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand"  href="{% url 'company:CompanyHomePage' %}">
          <img src="{% static 'images/logo_match_job_completo.png' %}" class="rounded-circle" width="80px" height="80px" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            {% include "company/navbar_company.html" %}
          </ul>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a class="btn dropdown-item" type="button" href="{% url 'home:HomePage' %}">Match Job</a></li>
              <li><a class="btn dropdown-item" type="button" href="{% url 'company:CompanyPerfilPage' %}">Perfil</a></li>
              <li><a class="btn dropdown-item" type="button" href="{% url 'home:logout' %}">Logout</a></li>
            </ul>
          </div>
          <div>
              
              {% if user.profilecompany.picture %}
                  <img src="{{ user.profilecompany.picture.url }}" class="border d-sm-none d-md-block border-light ms-2" style="width:auto; height:10vh"  />
                {% else%}
                  <img src="{% static 'images/profile.png' %}" class="border  d-sm-none d-md-block border-light ms-2"style="width:auto; height:10vh" />
                {% endif %}
          </div>
        </div>
      </div>
    </nav>
    </section>
    <section class="" style="padding-top: 6vh;">
      <div class="container-fluid ">
        <div class="row ">        
          <div class="col-12 bg-light ">
            {% block container %}{% endblock%}
          </div>
        </div>    
      </div>
    </section>    
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <script>
      function load_page_start(){
        $(".loader-page").css({visibility:"visible",opacity:"100"});
      }

      function load_page_finish(){
        $(".loader-page").css({visibility:"hidden",opacity:"0"});
      }
      
    

        $(window).on('load', function () {
        setTimeout(function () {
            $(".loader-page").css({visibility:"hidden",opacity:"0"})
        }, 500);
    });
    </script>
  </body>
</html>