{% extends 'users/base.html' %}
{% block title %} <span style="color: #7c9afb;">Bienvenido</span> <span style="color: #92fc69;">{{ user.username | title }}</span>    {% endblock%}   
{% block container %}
<div class="row">
    <div class="col-11 mx-auto">
       <div class="card my-2">

           <div class="card-body text-end">
             <blockquote class="blockquote mb-0">
               <p>Una gran visión sin grandes personas es irrelevante</p>
               <footer class="blockquote-footer"><cite title="Source Title">Jim Collins</cite></footer>
             </blockquote>
           </div>
         </div>
    </div>
</div>

<div class="row my-2">
   <div class="col-12 col-lg-3 mx-auto my-2">
       <div class="card" style="width: 100%;">
           <div class="card-body">
             <h4 class="card-title">Match Pendientes</h4>
             <h5 class="card-subtitle mb-2 text-muted">Match Pendientes: <span class="text-success fw-bold "> 1 </span> </h5>
             <p class="card-text">Aqui puedes ver como van los candidatos con los que has hecho match</p>
           </div>
       </div>
       <div class="card-footer text-end bg-mj-v ">
           <a  href="{% url 'company:CompanyMatchPage' %}" class="card-link fw-bold">Ver Match</a>
       </div>
    </div>

    <div class="col-12 col-lg-3 mx-auto my-2">
       <div class="card" style="width: 100%;">
           <div class="card-body">
             <h4 class="card-title">Nueva Busqueda</h4>
             <h5 class="card-subtitle mb-2 text-muted">Busquedas realziadas: <span class="text-success fw-bold "> 1 </span> </h5>
             <p class="card-text">Aqui puedes Encontrar a tu candidato perfecto solo filtrando su perfil y/o habilidades</p>
           </div>
       </div>
       <div class="card-footer text-end bg-mj-v ">
           <a href="{% url 'company:CompanyNMPage' %}" class="card-link fw-bold">Buscar Candidatos</a>
       </div>
    </div>   
</div>


   

{% endblock%}  