{% extends 'users/base.html' %}
 {% load static %}
 {% block title %} <span style="color: #7c9afb;">Match</span> <span style="color: #92fc69; margin-left: -10px;">Pendientes</span> {% endblock%}   
 {% block container %}
 <div class="row text-center">
  <div class="col-3 mx-auto">
      <a href="{% url 'users:UsersMatchPage' %}" class="d-lg-none btn btn-primary btn-sm" >P <span class="badge bg-secondary">1</span></a>
      <a href="{% url 'users:UsersMatchPage' %}" class="d-none d-lg-block btn btn-primary btn-sm">Pendientes <span class="badge bg-secondary">1</span></a>      
   </div>
   <div class="col-3 mx-auto">
    <a href="{% url 'users:UsersMatchPageAceptados' %}" class="d-lg-none btn btn-success btn-sm" >A <span class="badge bg-secondary">1</span></a>
    <a href="{% url 'users:UsersMatchPageAceptados' %}" class="d-none d-lg-block btn btn-success btn-sm">Aceptados <span class="badge bg-secondary">1</span></a>
   </div>
   <div class="col-3 mx-auto ">
    <a href="{% url 'users:UsersMatchPageDeclinados' %}" class="d-lg-none btn btn-warning btn-sm" >D <span class="badge bg-secondary">1</span></a>
    <a href="{% url 'users:UsersMatchPageDeclinados' %}" class="d-none d-lg-block btn btn-warning btn-sm">Declinados <span class="badge bg-secondary">1</span></a>
   </div>
   <div class="col-3 mx-auto">
    <a href="{% url 'users:UsersMatchPageRechazados' %}" class="d-lg-none btn btn-danger btn-sm" >R <span class="badge bg-secondary">1</span></a>
    <a href="{% url 'users:UsersMatchPageRechazados' %}" class="d-none d-lg-block btn btn-danger btn-sm">Rechazados <span class="badge bg-secondary">1</span></a>
   </div>
 </div>
<div class="row">
    
    <div class="col-12 col-md-4 mx-auto py-3">
        <div class="card mb-3" style="width:100%;">
            <div class="row">
              <div class="col-md-4 p-2 mx-auto text-center">
                <img src="{% static 'images/cerbero_games.png' %}"  class="img-fluid rounded-start ">
                
              </div>
              <div class="col-md-8">
                <div class="card-body text-center">
                  <h5 class="card-title text-center bg-danger text-white">{{ Nombre_Empresa }}Cerbero Games</h5>
                  <p class="card-text text-center">Se encontro otro candidato con un perfil mas adecuado para el puesto que va mas enfocado al desarrollo de videojuegos</p>
                  <a href="#" >Mas sobre Cerbero Games</a>
                </div>
                <div class="row justify-content-end text-end">
                  <div class="col-12 align-self-end offset-6">
                    <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalAceptar">¿Como conseguir puestos similares?</a>
                  </div>                      
                </div>
                <div class="card-footer text-muted">
                    
                    <div class="row">
                        <div class="col-12 mx-auto">
                            <p class="card-text"><small class="text-muted">Postulado hace 2 años</small></p>
                        </div>                      
                    </div>
                  </div>
              </div>
            </div>
          </div>

    </div>
</div>
<!-- Modal Aceptar-->
<div class="modal fade" id="ModalAceptar" tabindex="-1" aria-labelledby="ModalAceptarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalAceptarLabel">¿Como conseguir puestos similares?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h6>Para conseguir este puesto o similares a este te sugerimos tomar los siguientes cursos:</h6>  
          <li><a href="https://platzi.com/clases/assets-3d/" target="_blank" >Platzi: Curso de Assets 3D para Videojuegos</a></li>
          <li><a href="https://platzi.com/clases/animacion-videojuegos/" target="_blank">Platzi:  Animación y Arte de Videojuegos 2D</a></li>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
 {% endblock%}  