{% extends 'users/base.html' %}
 {% load static %}
 {% block title %} <span style="color: #7c9afb;">Match</span> <span style="color: #92fc69; margin-left: -10px;">Pendientes</span> {% endblock%}   
 {% block container %}
 <div class="row text-center">
  <div class="col-3 mx-auto">
      <a href="{% url 'users:UsersMatchPage' %}" class="d-lg-none btn btn-primary btn-sm" >P <span class="badge bg-secondary">1</span></a>
      <a href="{% url 'users:UsersMatchPage' %}" class="d-none d-lg-block btn btn-primary btn-sm">Pendientes <span class="badge bg-secondary">1</span></a>      
   </div>
   <div class="col-3 mx-auto">
    <a href="{% url 'users:UsersMatchPageAceptados' %}" class="d-lg-none btn btn-success btn-sm" >A <span class="badge bg-secondary">1</span></a>
    <a href="{% url 'users:UsersMatchPageAceptados' %}" class="d-none d-lg-block btn btn-success btn-sm">Aceptados <span class="badge bg-secondary">1</span></a>
   </div>
   <div class="col-3 mx-auto ">
    <a href="{% url 'users:UsersMatchPageDeclinados' %}" class="d-lg-none btn btn-warning btn-sm" >D <span class="badge bg-secondary">1</span></a>
    <a href="{% url 'users:UsersMatchPageDeclinados' %}" class="d-none d-lg-block btn btn-warning btn-sm">Declinados <span class="badge bg-secondary">1</span></a>
   </div>
   <div class="col-3 mx-auto">
    <a href="{% url 'users:UsersMatchPageRechazados' %}" class="d-lg-none btn btn-danger btn-sm" >R <span class="badge bg-secondary">1</span></a>
    <a href="{% url 'users:UsersMatchPageRechazados' %}" class="d-none d-lg-block btn btn-danger btn-sm">Rechazados <span class="badge bg-secondary">1</span></a>
   </div>
 </div>
<div class="row">
    
    <div class="col-12 col-md-4 mx-auto py-3">
        <div class="card mb-3" style="width:100%;">
            <div class="row">
              <div class="col-md-4 p-2 mx-auto text-center">
                <img src="{% static 'images/admincloud.jpg' %}"  class="img-fluid rounded-start ">
                
              </div>
              <div class="col-md-8">
                <div class="card-body text-center">
                  <h5 class="card-title text-center bg-warning">{{ Nombre_Empresa }}Admin Cloud</h5>
                  <p class="card-text text-center ">Declinado por sueldo muy bajo</p>
                  <a href="#" >Mas sobre Admin Cloud</a>
                </div>
                <div class="card-footer text-muted">
                    
                    <div class="row">
                        <div class="col-12 mx-auto">
                            <p class="card-text"><small class="text-muted">Contactado hace 2 años</small></p>
                        </div>                      
                    </div>
                  </div>
              </div>
            </div>
          </div>

    </div>
</div>


 {% endblock%}  